<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="34">
        <activity
            android:name=".create_table"
            android:exported="false" />
        <activity
            android:name=".mbsd_activity"
            android:exported="false" />
        <activity
            android:name=".CameraForFWC"
            android:exported="false" />
        <activity
            android:name=".CameraForYTXS"
            android:exported="false" />
        <activity
            android:name=".Waiting_YTXS"
            android:exported="false" />
        <activity
            android:name=".Waiting_FWC"
            android:exported="false" />
        <activity
            android:name=".Waiting_DQ"
            android:exported="false" />
        <activity
            android:name=".dkjl_activity"
            android:exported="false" />
        <activity
            android:name=".txsz_activity"
            android:exported="false" />
        <activity
            android:name=".ydjl_activity"
            android:exported="false" />
        <activity
            android:name=".jksj_activity"
            android:exported="false" />
        <activity
            android:name=".TabStyleActivity"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:exported="false" />
        <activity
            android:name=".CameraForDQ"
            android:exported="false" />
        <activity
            android:name=".DataAnalysis"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".First"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <receiver
            android:name=".ReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>